#project-title {
    color: rgb(0, 132, 255);
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.cover-image {
    margin-top: 0px;
    width: 100%; /* Set the width to 100% to make it responsive */
}

.logo {
    position: relative;
    width: 100px; /* Adjust the width as desired */
    margin-right: 10px; /* Adjust the margin as desired */
}

/* Media Query for mobile screens */
@media only screen and (max-width: 600px) {
    .logo {
        width: 50px; /* Adjust the width for mobile screens */
        margin-right: 5px; /* Adjust the margin for mobile screens */
    }
}